---
import { Instagram } from 'lucide-astro'

// Reemplaza con el Instagram real del cliente
const ig = 'https://www.instagram.com/estanques.pintue/'
---

<a
  href={ig}
  target="_blank"
  class="fixed bottom-20 right-6 z-50 bg-white text-[var(--color-primary)] p-3 rounded-full shadow-xl border
         hover:scale-110 active:scale-95 transition-transform duration-200 flex items-center justify-center"
  aria-label="Instagram"
>
  <Instagram class="w-6 h-6" />
</a>
