<div class="bg-teal-600 text-white py-2">
  <div class="marquee-container">
    <span class="marquee-track font-semibold text-sm">
       20% de descuento en todas las categor铆as 路  Env铆a #CUPONNAVIDAD al WhatsApp y obt茅n el el
      tuyo  路  20% de descuento en todas las categor铆as 路  Env铆a #CUPONNAVIDAD al WhatsApp y
      obt茅n el tuyo!  路
    </span>
  </div>
</div>
