<span class="marquee-track font-semibold text-sm">
   20% de descuento en todas las categor铆as 路  Env铆a #CUPONNAVIDAD al WhatsApp y obt茅n el
  beneficio!  路  20% de descuento en todas las categor铆as 路  Env铆a #CUPONNAVIDAD al WhatsApp y
  obt茅n el beneficio!  路
</span>
